*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.formulario, .resultado{
    text-align: center;
}

#btn{
    color: #fff;
    padding: 0.6rem;
    background-color: #00b7ff;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}
h1{
    font-size: 1.5rem;
    margin: 10px 0;
}

p, input{
    padding: 0.3rem;
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 700;
}